[Unit]
Description=findr - Telescope Finder Service
After=network.target

[Service]
ExecStart=/home/pi/findr/venv/bin/python3 /home/pi/findr/app.py
WorkingDirectory=/home/pi/findr
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
